body
	{
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	background-color: #dddddd;
    width: auto !important;
    width: 100%;
    min-width: 700px;
	}
html, body 
    {
    height: 95%;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    }
.column
	{
    position: relative;
	height: 100%;
    vertical-align: top;
    background-color: #ffffff;
    box-sizing: content-box;
    box-shadow: rgba(0,0,0, 0.37) 0 1px 4px 0px;
	}
#content
	{
    resize: vertical;
    height: auto;
    min-height:100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
    margin-bottom:60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
    box-sizing: content-box;
	}
#main
	{
	width: 99%;
	}
#sidebar
	{
	width: 30%;
	}
#imgHeader
    {
    height: 75px;
    margin: 5px;
    background-image: url("images/forest.jpg");
    background-position: center left;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    border-color: #ffff00;
    border-style: none none none solid;
    border-width: 3px;
    box-shadow: rgba(0,0,0, 0.5) 0 1px 4px 0px;
    }
#goodDay
    {
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    background-color: #ffff00;
    font-size: 22px;
    }
#mainArticle
    {
    padding: 20px;
    color: #0000ff;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 18px;
    }
#footer
    {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: #dddddd;
    border-color: #0000ff;
    border-style: solid none none none;
    border-width: 2px;
    }
#stagesEnter
    {
    width: 69%;
    display: flex;
    vertical-align: top;
    flex-wrap: wrap;
    }
#stagesEnter > div {
  margin: 10px;
}
#submission
    {
    display: flex;
    flex-direction: column;
    }
a:link 
	{
	color: #0000ff;
	text-decoration: underline;
	}
a:visited 
	{
    color: #0000ff;
	text-decoration: underline;
	}
a:hover 
	{
    color: #0000ff;
	text-decoration: none;
	}

a:active 
	{
    color: #0000ff;
	text-decoration: none;
	}
#fuck
    {
    color: #000000;
    }
.correct {
            color:green;
        }
.incorrect {
            color:red;
        }
.stageSubmission {
    background-color: blue;
    border: none;
    color: white;
    padding: 11px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: rgba(0,0,0, 0.5) 0 1px 4px 0px;
    }
.stageSubmission:hover {
    opacity:1;
    }
.groupSelect {
    background-color: white;
    padding: 10px 20px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    border: none;
    box-shadow: rgba(0,0,0, 0.5) 0 1px 4px 0px;
    }
.zero {
  background-color: #dddddd;
}
.nonzero {
  background-color: blue;
}
#scoreboard {
    resize: horizontal;
    overflow: auto;
    margin: auto;
}
#scoreboardContainer {
    margin: 10px;
    border-color: #ffff00;
    border-style: none none none solid;
    border-width: 3px;
    box-shadow: rgba(0,0,0, 0.5) 0 1px 4px 0px;
    margin: auto;
    padding: 10px;
}
table, tr, td {
  border: 1px solid white;
  background-color: white;
  border-collapse: collapse;
  padding: 10px;
}
#test {
    display: flex;
    flex-direction: row;
}